/**
 * @since 150211 16:57
 * @author vivaxy
 */

body {
    margin: 0;
    background: #eee;
}

.grid-wrapper {
    margin: 30px auto;
    width: 90%;
    background: #f3ca55;
    position: relative;
    border-radius: 2%;
}

.grid-cell {
    position: absolute;
    width: 30%;
    height: 30%;
    margin: 1%;
    border-radius: 4%;
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid-cell img {
    width: 100%;
    height: 100%;
}

.cell-0-0 {
    top: 2%;
    left: 2%;
}

.cell-0-1 {
    top: 2%;
    left: 34%;
}

.cell-0-2 {
    top: 2%;
    left: 66%;
}

.cell-1-0 {
    top: 34%;
    left: 2%;
}

.cell-1-1 {
    top: 34%;
    left: 34%;
}

.cell-1-2 {
    top: 34%;
    left: 66%;
}

.cell-2-0 {
    top: 66%;
    left: 2%;
}

.cell-2-1 {
    top: 66%;
    left: 34%;
}

.cell-2-2 {
    top: 66%;
    left: 66%;
}

.cell-center {
    top: 34%;
    left: 34%;
    z-index: 1;
}

.hide {
    display: none;
}

.stand-up {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
