html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#root {
  flex: none;
  position: relative;
}

.block, .board {
  display: flex;
  flex-direction: column;
}

.block {
  position: absolute;
}

#root, .board-cell {
  border: 1px solid #efefef;
}

.block-row, .board-row {
  display: flex;
}

.block-cell, .board-cell {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
