/**
 * @since 2017-02-20 10:27
 * @author vivaxy
 */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  position: absolute;
  display: block;
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #80d230;
  border: 4px solid #54434b;
  font-size: 24px;
  color: #54434b;
  border-radius: 4px;
}
